[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-dotenv = "*"
pydantic = {extras = ["email"], version = "*"}

[dev-packages]
twine = "*"
build = "*"
datamodel-code-generator = {version = "==0.44.0"}
httpx = "==0.28.1"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
