[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyjwt = "*"
pathlib = "*"
requests = "*"
pydantic = {extras = ["email"], version = "*"}

[dev-packages]
datamodel-code-generator = {extras = ["http"], version = "*"}
twine = "*"
build = "*"

[requires]
python_version = "3"
